<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FER</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <section style="margin: 1em 0em; border-bottom: solid; padding-bottom: 1em;">
        <a href="/" style="text-align: center;">
            <h2 style="color: gray;">Facial Emotion Recognition</h2>
        </a>
    </section>
    {% block main %}{% endblock %}
</body>

</html>